#main-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #333;
  color: #858585;
  padding: 24px 0 10px;
  .poll-io-logo{
    font-size: 35px;
  }
  .footer-links{
    margin: 0;
    display: inline-block;
    padding-bottom: 0px;
    &.social{
      display: block;
      float: right;
      margin-bottom: 8px;
    }
    li{
      display: block;
      float: left;
      margin-left: 6px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.75rem;
    }
  }
  .copyright{
    margin: 6px 0 0;
    font-size: 0.75rem;
    color: #666;
  }
}