Rooms#show.
<h2 class="room-title">{{title}}</h2>
<p class="room-body">{{body}}</p>
<div class="small-12 columns">
  <button class="button delete alert" {{action "delete" this}}>Delete</button>
</div>
